@import "fonts";

// Colors
$base-background-color: #2A2A2A;
$base-background-dark: #021017;
$base-background-light: #F0F0F0;

$base-grey-light: #E5E5E5;
$base-grey-medium: #ADADAD;
$base-grey-medium-2: #919191;
$base-grey-dark: #808080;
$base-grey-dark-2: #6C6C6C;

$base-white: #FFFFFF;

// Fonts
$base-font-family: 'Martel Sans';
$second-font-family: 'Roboto';

// Breakpoints Media Queries
$breakpoint-mobile: 280px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large: 1080px;
$breakpoint-extra-large: 1600px;

// Assets Path
$assetPath: "../images";


