// bower:scss
// endbower

// Compass
@import "compass/css3";
@import "compass/css3/animation";

// Customized animations
@import "animations";

// Colors
@import "colors";

// Helpers
@import "helpers";

body {
	padding: 0;
	min-height: 100%;
	font-family: lato;
}

html{
	height: 100%;
}

html,
body {
	margin: 0;
}

/* Custom page header */
.header {
	color: white;
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	text-align: center;
	margin-top: 10px;
	letter-spacing: 0.1em;
	.company-name{
		text-transform: uppercase;
		display: block;
		font-weight: bold;
		font-size: 20px;
	}
	.company-motto{
		margin-top: 15px;
		display: block;
	}
}

.wrapper{
	position: absolute;
	width: 100%;
	flex: 1 0 auto;
	align-items: stretch;
}

.main-view{
	height: 600vh;
	letter-spacing: 0.1em;
}

.header,
.footer  { flex: 1 100%; }

.wrapper-welcome {
	&.inactive{
		display: none;
	}
	position: fixed;
	z-index: 2000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .9);
	.container{
		position: relative;
   	height: 100%;
   	.content{
			position: relative;
			max-width: 400px;
			margin: 0 auto;
			text-align: center;
			color: white;
			padding: 20px;
			transform-origin: center;
			@include transform(translateX(50%));
			@include transform(translateY(50%));
   	}
	}
}

.logo-wrapper{
	overflow: hidden;
	width: 200px;
	height: 200px;
	@include border-radius(50%);
	box-shadow: 0px 0px 0px 40px rgba(42, 137, 192, 1) inset;
	margin: 0 auto;
}

.clouds-position{
	width: 100%;
	height: 30px;
	bottom: 0px;
	width: 100%;
	height: 20px;
	bottom: 0;
	display: block;
	margin: 150px auto;
	position: relative;
}

.index{
	z-index: 2;
	position: absolute;
	left: 120px;
	top: -10px;
	font-size: 40px;
	color: #2A89C0;
	font-family: 'Helvetica';
}

.img-cloud{
	width: 400px;
	height: 30px;
	display: block;
	position: absolute;
	background-size: contain;
	background-repeat: repeat;
	background-position: center;
	&.top {
		height: 35px;
		top: 0px;
		z-index: 2;
		@include transform(scale(3));
	}
	&.bottom {
		height: 35px;
		top: 18px;
		z-index: 3;
		@include transform(scale(2));
	}
}

.button-enter{
	color: $oxynum-blue;
	margin-top: 20px;
	background-color: transparent;
	border: 1px solid;
	cursor: pointer;
	outline: none;
	width: 80px;
	height: 30px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.centered-content{
	text-transform: uppercase;
	.role, .name, .quote{
		margin: 40px 0;
	}
	.name{
		font-size: 60px;
		position: relative;
		&:before, &:after{
			content: '';
			position: absolute;
			width: 35px;
			left: 0;
			right: 0;
			margin: 0 auto;
			border-bottom: 5px solid;
		}
		&:before{
			top: -15px;
		}
		&:after{
			bottom: -15px;
		}
	}
	.quote{
		p span{
			display: block;
		}
	}
}

.team-member {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	position: relative;
	&.thomas {
		background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/thomas.jpg");
	}
	&.hugo {
		background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/hugo.jpg");
	}
	&.pierrick {
		background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/pierrick.jpg");
	}
	&.sandrine {
		background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/sandrine.jpg");
	}
	&.yvan {
		background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/yvan.jpg");
	}
	&.rudy {
		background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/rudy.jpg");
	}
	&.thomas, &.hugo, &.pierrick, &.sandrine, &.yvan, &.rudy{
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.go-down{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		.next-member{
			display: block;
			text-transform: uppercase;
		}
		.arrow-go-to{
			width: 16px;
			height: 16px;
			margin: 15px auto;
			cursor: pointer;
			background-image: url("../images/arrow_down.svg");
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

.full-screen {
  height: 100%; /* makes panels the entire window height */
}

/* Custom page footer */
.footer {
	color: white;
	background-color: black;
	padding: 50px;
	text-align: center;
	letter-spacing: 0.1em;
	.address{
		text-transform: uppercase;
	}
	.phone-number{
		margin-top: 5px;
	}
	.address, .phone-number{
		display: block;
	}
	a{
		color: white;
		text-decoration: none;
	}
}

@import 'media';
