@font-face {
  font-family: "Martel Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}
.page-home {
  background-color: #2A2A2A;
}
.page-home header {
  position: fixed;
  height: 40px;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: transparent;
}
.page-home header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-home header > nav .nav-links {
  display: flex;
}
.page-home header > nav .navbar-item-contact > a, .page-home header > nav .navbar-item-team > a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0.03em;
  margin-right: 86px;
}
.page-home main {
  padding-top: 45px;
}
.page-home main .section-agency {
  display: flex;
}
.page-home main .section-agency-text-title {
  font-weight: bold;
  line-height: 100%;
  color: #FFFFFF;
}
.page-home main .section-agency-text-presentation {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #E5E5E5;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navbar-logo {
    margin-top: 20px;
    margin-left: 23px;
  }
  .navbar-logo--mobile {
    max-height: 19px;
    max-width: 37px;
  }
  .navbar-logo--desktop {
    display: none;
  }
  .navbar-item {
    margin-top: 20px;
  }
  .navbar-item-contact {
    display: none;
  }
  .navbar-item-team {
    display: none;
  }
  .navbar-item-burger {
    margin-top: 23px;
    margin-right: 20px;
  }
  .navbar-item-burger-image {
    max-height: 24px;
    max-width: 24px;
  }

  .section-agency {
    flex-direction: column;
  }
  .section-agency-text {
    order: 2;
  }
  .section-agency-text-title {
    font-size: 52px;
    margin-left: 41px;
  }
  .section-agency-text-presentation {
    margin: 50px 46px 52px 41px;
  }
  .section-agency-image > picture > img {
    order: 1;
    max-width: 100%;
    max-height: 100%;
    right: 0px;
  }

  .section-clients-logo {
    display: flex;
    flex-wrap: wrap;
  }
  .section-clients-logo > img {
    flex: 1;
    min-width: 30%;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-logo {
    margin-top: 20px;
    margin-left: 23px;
  }
  .navbar-logo--mobile {
    max-height: 19px;
    max-width: 37px;
  }
  .navbar-logo--desktop {
    display: none;
  }
  .navbar-item {
    margin-top: 20px;
  }
  .navbar-item-contact {
    display: none;
  }
  .navbar-item-team {
    display: none;
  }
  .navbar-item-burger {
    margin-top: 23px;
    margin-right: 20px;
  }
  .navbar-item-burger-image {
    max-height: 24px;
    max-width: 24px;
  }

  .section-agency {
    flex-direction: column;
  }
  .section-agency-text {
    order: 2;
  }
  .section-agency-text-title {
    font-size: 52px;
    margin-left: 41px;
  }
  .section-agency-text-presentation {
    margin: 50px 46px 52px 41px;
  }
  .section-agency-image > picture > img {
    order: 1;
    width: 100%;
    margin-bottom: 8rem;
  }

  .section-clients-logo {
    display: flex;
    flex-wrap: wrap;
  }
  .section-clients-logo > img {
    flex: 1;
    min-width: 40%;
    margin: 10px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-logo {
    margin-top: 48px;
    margin-left: 23px;
  }
  .navbar-logo--mobile {
    display: none;
  }
  .navbar-logo--desktop {
    max-height: 27px;
    max-width: 147px;
  }
  .navbar-item {
    margin-top: 48px;
  }
  .navbar-item-burger {
    margin-right: 52px;
  }
  .navbar-item-burger-image {
    max-height: 24px;
    max-width: 24px;
  }

  .section-agency {
    position: relative;
  }
  .section-agency-text {
    max-width: 28rem;
    padding: 8rem 0rem 8rem 8rem;
    z-index: 10;
  }
  .section-agency-text-title {
    font-size: 90px;
  }
  .section-agency-text-presentation {
    margin-top: 34px;
  }
  .section-agency-image > picture > img {
    width: 60%;
    position: absolute;
    top: 4rem;
    right: 0;
    height: auto;
  }

  .section-clients-logo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3rem;
    margin: 0 8rem 8rem 8rem;
  }
  .section-clients-logo > img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1599px) {
  .navbar-logo {
    margin-top: 48px;
    margin-left: 23px;
  }
  .navbar-logo--mobile {
    display: none;
  }
  .navbar-logo--desktop {
    max-height: 27px;
    max-width: 147px;
  }
  .navbar-item {
    margin-top: 48px;
  }
  .navbar-item-burger {
    margin-right: 52px;
  }
  .navbar-item-burger-image {
    max-height: 24px;
    max-width: 24px;
  }

  .section-agency {
    position: relative;
  }
  .section-agency-text {
    max-width: 35rem;
    padding: 10rem 0rem 10rem 12rem;
    z-index: 10;
  }
  .section-agency-text-title {
    font-size: 132px;
  }
  .section-agency-text-presentation {
    margin-top: 34px;
  }
  .section-agency-image > picture > img {
    width: 60%;
    position: absolute;
    top: 3rem;
    right: 1rem;
    height: auto;
  }

  .section-clients-logo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3rem;
    margin: 0 10rem 5rem 10rem;
  }
  .section-clients-logo > img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1600px) {
  .navbar-logo {
    margin-top: 48px;
    margin-left: 23px;
  }
  .navbar-logo--mobile {
    display: none;
  }
  .navbar-logo--desktop {
    max-height: 27px;
    max-width: 147px;
  }
  .navbar-item {
    margin-top: 48px;
  }
  .navbar-item-burger {
    margin-right: 52px;
  }
  .navbar-item-burger-image {
    max-height: 24px;
    max-width: 24px;
  }

  .section-agency {
    position: relative;
  }
  .section-agency-text {
    max-width: 45rem;
    max-height: 25rem;
    padding: 15rem 0rem 0rem 38rem;
    z-index: 10;
  }
  .section-agency-text-title {
    font-size: 132px;
  }
  .section-agency-text-presentation {
    margin-top: 34px;
  }
  .section-agency-image > picture > img {
    width: auto;
    position: absolute;
    top: 0;
    right: 20rem;
    height: 53rem;
  }

  .section-clients-logo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 6rem;
    margin: 15rem 33rem 0rem 33rem;
  }
  .section-clients-logo > img {
    width: 100%;
    height: auto;
  }
}
.page-error {
  background-color: #1C1B1B;
}
.page-error-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
}
.page-error-container > div {
  text-align: center;
  margin: auto;
}
.page-error-container > div .error-title {
  font-weight: bold;
  line-height: 100%;
  color: #ADADAD;
  margin-bottom: 8px;
}
.page-error-container > div .error-text {
  color: #ADADAD;
}
.page-error-footer {
  text-align: center;
}
.page-error-footer .page-error-backlink {
  text-decoration: none;
}
.page-error-footer .page-error-backlink-back-home {
  font-weight: bold;
  line-height: 100%;
  color: #ADADAD;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .page-error .header-logo {
    padding-left: 23px;
    padding-top: 20px;
  }
  .page-error .header-logo--mobile {
    width: 37px;
    height: 19px;
  }
  .page-error .header-logo--desktop {
    display: none;
  }
  .page-error-container {
    height: 486px;
    margin-top: 2.5rem;
    background-image: url(../images/Icon/Circle.png);
    background-size: contain;
  }
  .page-error-container > div .error-title {
    font-size: 36px;
  }
  .page-error-container > div .error-text {
    font-size: 24px;
  }
  .page-error-footer {
    margin-top: 1.12rem;
  }
  .page-error-footer .page-error-backlink-icon {
    width: 25.33px;
    height: 12.67px;
    margin-right: 10.33px;
  }
  .page-error-footer .page-error-backlink-back-home {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .page-error .header-logo {
    padding-left: 23px;
    padding-top: 20px;
  }
  .page-error .header-logo--mobile {
    display: none;
  }
  .page-error .header-logo--desktop {
    width: 147px;
    height: 27px;
  }
  .page-error-container {
    height: 486px;
    margin-top: 8rem;
    background-image: url(../images/Icon/Circle-Large.png);
    background-size: contain;
  }
  .page-error-container > div .error-title {
    font-size: 36px;
  }
  .page-error-container > div .error-text {
    font-size: 24px;
  }
  .page-error-footer {
    margin-top: 5rem;
  }
  .page-error-footer .page-error-backlink-icon {
    width: 25.33px;
    height: 12.67px;
    margin-right: 10.33px;
  }
  .page-error-footer .page-error-backlink-back-home {
    font-size: 24px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .page-error {
    position: relative;
    background-image: url(../images/Icon/Circle-Large.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .page-error .header-logo {
    padding-left: 29px;
    padding-top: 48px;
  }
  .page-error .header-logo--mobile {
    display: none;
  }
  .page-error .header-logo--desktop {
    width: 147px;
    height: 27px;
  }
  .page-error-container {
    position: absolute;
    top: 40%;
  }
  .page-error-container > div .error-title {
    font-size: 36px;
  }
  .page-error-container > div .error-text {
    font-size: 24px;
  }
  .page-error-footer {
    position: absolute;
    top: 59%;
    margin-top: 5rem;
    left: 44%;
  }
  .page-error-footer .page-error-backlink-icon {
    width: 25.33px;
    height: 12.67px;
    margin-right: 10.33px;
  }
  .page-error-footer .page-error-backlink-back-home {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .page-error {
    background-image: url(../images/Icon/Circle-Large.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .page-error .header-logo {
    padding-left: 29px;
    padding-top: 48px;
  }
  .page-error .header-logo--mobile {
    display: none;
  }
  .page-error .header-logo--desktop {
    width: 147px;
    height: 27px;
  }
  .page-error-container {
    height: 50vh;
    margin: auto;
  }
  .page-error-container > div .error-title {
    font-size: 72px;
  }
  .page-error-container > div .error-text {
    font-size: 48px;
  }
  .page-error-footer {
    margin-top: 5rem;
  }
  .page-error-footer .page-error-backlink-icon {
    width: 34.67px;
    height: 17.33px;
    margin-right: 10.33px;
  }
  .page-error-footer .page-error-backlink-back-home {
    font-size: 36px;
  }
}
html, body {
  font-family: "Martel Sans";
  margin: 0;
  min-height: 100vh;
  max-width: 100vw;
}

/*# sourceMappingURL=style.css.map */
