@import "../layouts/cover";

.page-error {
  @include cover-base;

  &__container {
    width: 100%;
    display: flex; 
    flex-direction: column;
    background: {
      repeat: no-repeat;
      position: center;
    }

    & > div {
      text-align: center;
      margin: auto;

      .error {
        &__title {
          font-weight: bold;
          line-height: 100%;
          color: $base-grey-medium;
          margin-bottom: 8px;
        }
        &__text{
          color: $base-grey-medium;
        }
      }
    }
  }

  &__footer{
    text-align: center;

    .page-error__backlink{
      text-decoration: none;

      &__back-home {
        font-weight: bold;
        line-height: 100%;
        color: $base-grey-medium;
      }
    }
  } 
}

// Extra small devices
@media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet - 1){
  .page-error {
    .header__logo{
      padding: {
        left: 23px;
        top: 20px;
      } 

      &--mobile{
        width: 37px;
        height: 19px;
      }
      &--desktop{
        display: none;
      }
    }

    &__container {
      height: 486px;
      margin-top: 2.5rem;
      background: {
        image: url(#{$assetPath}/Icon/Circle.png);
        size: contain;
      }

      & > div {
        .error {
          &__title {
            font-size: 36px;
          }
          &__text{
            font-size: 24px;
          }
        }
      }
    }

    &__footer{
      margin-top: 1.12rem;

      & .page-error__backlink{
        &__icon {
          width: 25.33px;
          height: 12.67px;
          margin-right: 10.33px;
        }
        &__back-home {
          font-size: 24px;
        }
      }
    } 
  }
}

// Medium devices
@media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1){
  .page-error {
    
    .header__logo{
      padding: {
        left: 23px;
        top: 20px;
      } 

      &--mobile{
        display: none;
      }
      &--desktop{
        width: 147px;
        height: 27px;
      }
    }

    &__container {
      height: 486px;
      margin-top: 8rem;
      background: {
        image: url(#{$assetPath}/Icon/Circle-Large.png);
        size: contain;
      }

      & > div {
        .error {
          &__title {
            font-size: 36px;
          }
          &__text{
            font-size: 24px;
          }
        }
      }
    }

    &__footer{
      margin-top: 5rem;

      .page-error__backlink{
        &__icon {
          width: 25.33px;
          height: 12.67px;
          margin-right: 10.33px;
        }
        &__back-home {
          font-size: 24px;
        }
      }
    } 
  }
}

// Large devices
@media screen and (min-width: $breakpoint-desktop) and (max-width: $breakpoint-large - 1){
  .page-error {
    position: relative;
    background: {
      image: url(#{$assetPath}/Icon/Circle-Large.png);
      size: contain;
      position: center;
      repeat: no-repeat;
    }

    .header__logo{
      padding: {
        left: 29px;
        top: 48px;
      } 

      &--mobile{
        display: none;
      }
      &--desktop{
        width: 147px;
        height: 27px;
      }
    }

    &__container {
      position: absolute;
      top: 40%;
      
      & > div {
        .error {
          &__title {
            font-size: 36px;
          }
          &__text{
            font-size: 24px;
          }
        }
      }
    }

    &__footer{
      position: absolute;
      top: 59%;
      margin-top: 5rem;
      left: 44%;

      .page-error__backlink{
        
        &__icon {
          width: 25.33px;
          height: 12.67px;
          margin-right: 10.33px;
        }
        &__back-home {
          font-size: 24px;
        }
      }
    } 
  }
}

// Desktop Large and Extra Large devices
@media screen and (min-width: $breakpoint-large) {
  .page-error {
    background: {
      image: url(#{$assetPath}/Icon/Circle-Large.png);
      size: contain;
      repeat: no-repeat;
      position: center;
    }

    .header__logo{
      padding: {
        left: 29px;
        top: 48px;
      } 

      &--mobile{
        display: none;
      }
      &--desktop{
        width: 147px;
        height: 27px;
      }
    }

    &__container {
      height: 50vh;
      margin: auto;
      
      & > div {
        .error {
          &__title {
            font-size: 72px;
          }
          &__text{
            font-size: 48px;
          }
        }
      }
    }

    &__footer{
      margin-top: 5rem;

      .page-error__backlink{
        &__icon {
          width: 34.67px;
          height: 17.33px;
          margin-right: 10.33px;
        }
        &__back-home {
          font-size: 36px;
        }
      }
    } 
  }
}