@import "../utils/typo";
@import "../layouts/cover";
@import "../layouts/navbar";

.page-agency { 
  @include cover-dark;

  main {
    .text-presentation { 
      display: flex;
      flex-direction: column;
      overflow-wrap: break-word;
  
      &__title {
        color: $base-white;
      }
      &__content {
        @include text-body;
        color: $base-grey-light;
        padding-bottom: 25px;
      }
    }
  }
}


// Extra small devices
@media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet - 1) {
  .page-agency { 
    @include navbar-short-light;
    background: {
      image: url(#{$assetPath}/site-cover-photos/cover-agency-mobile.png);
      repeat: no-repeat;
    }
  
    main {
      .back-home {
        display: none;
      }
  
      .text-presentation { 
        margin: {
          left: 41px;
          right: 46px;
          bottom: 75px;
          top: 480px;
        }
    
        &__title {
          @include title-h1-small;
          height: 156px;
          max-width: 356px;
          margin-bottom: 45px;
        }
        &__content {
          text-align: justify; 
        }
      }
    }
  }  
}

// Medium devices
@media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1) {
  .page-agency { 
    @include navbar-short-light;
    background: {
      image: url(#{$assetPath}/site-cover-photos/cover-agency-large.png);
      repeat: no-repeat;
      size: contain;
      position: top center;
    }
  
    main {
      .back-home {
        display: none;
      }
  
      .text-presentation { 
        margin: {
          left: 51px;
          right: 56px;
          bottom: 75px;
          top: 650px;
        }
    
        &__title {
          @include title-h1-small;
          height: 156px;
          max-width: 456px;
          margin-bottom: 10px;
        }
        &__content {
          text-align: justify; 
        }
      }
    }
  }  
}

// Large devices
@media screen and (min-width: $breakpoint-desktop) and (max-width: $breakpoint-large - 1) {
  .page-agency { 
    @include navbar-full-light;
    background: {
      image: url(#{$assetPath}/site-cover-photos/cover-agency-large.png);
      repeat: no-repeat;
      position: top right;
      size: 300px 100px;
    }
  
    main {
      display: flex;

      .back-home {
        width: 15%;

        & > a > img{
          position: absolute;
          top: 150px;
          bottom: 0%;
          left: 8%;
        }
      }
  
      .text-presentation { 
        margin: {
          right: 56px;
          top: 100px;
        }
    
        &__title {
          @include title-h1-small;
          max-width: 70%;
          margin-bottom: 34px;
        }

        &__content {
          width: 400px;
          height: 100%;
        }
      }
    }
  }  
}

// Desktop Large devices
@media screen and (min-width: $breakpoint-large) and (max-width: $breakpoint-extra-large - 1) {
  .page-agency { 
    @include navbar-full-light;
    background: {
      image: url(#{$assetPath}/site-cover-photos/cover-agency-large.png);
      repeat: no-repeat;
      position: top right;
      size: contain;
    }
  
    main {
      display: flex;

      .back-home {
        width: 20%;

        & > a > img{
          position: absolute;
          top: 150px;
          bottom: 0%;
          left: 8%;
        }
      }
  
      .text-presentation { 
        margin: {
          right: 56px;
          top: 100px;
        }
    
        &__title {
          @include title-h1-small;
          max-height: 285px;
          margin-bottom: 34px;
        }

        &__content {
          width: 450px;
          height: 100%;
        }
      }
    }
  }  
}

// Desktop Extra large devices
@media screen and (min-width: $breakpoint-extra-large) {
  .page-agency { 
    @include navbar-full-light;
    background: {
      image: url(#{$assetPath}/site-cover-photos/cover-agency-large.png);
      repeat: no-repeat;
      position: top right;
      size: contain;
    }
  
    main {
      display: flex;

      .back-home {
        width: 577px;

        & > a > img{
          position: absolute;
          top: 340px;
          bottom: 0%;
          left: 427.5px;
        }
      }
  
      .text-presentation { 
        margin: {
          right: 56px;
          top: 249px;
        }
    
        &__title {
          @include title-h1-large;
          max-height: 285px;
          width: 1331px;
          margin-bottom: 34px;
        }

        &__content {
          width: 702px;
          height: 100%;
        }
      }
    }
  }  
}