@import "../layouts/cover";
@import "../layouts/navbar";

.page-clients {
  @include cover-light;
  background: {
    image: url(#{$assetPath}/Icon/cover-circle-white.png);
    position: right;
    size: contain;
    repeat: no-repeat;
  }
  @include navbar-full-dark--desktop;
  

  // .content {

  //   // &__arrow{
      
  //   // } 
    
  // }
}




// Medium devices
@media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1){}

// Large devices
@media screen and (min-width: $breakpoint-desktop) and (max-width: $breakpoint-large - 1){}

// Desktop Large devices
@media screen and (min-width: $breakpoint-large) and (max-width: $breakpoint-extra-large - 1){}

// Desktop Extra large devices
@media screen and (min-width: $breakpoint-extra-large){}