.page-clients {
  @include cover-light;
  @include navbar-full-dark;
  
  background: {
    repeat: no-repeat;
    attachment: fixed;
  }

  .content {
    display: flex;
    justify-content: space-between;
    
    &__sidebar {
      width: 294px;
      position: sticky;
      height: 100%;
     
      & > img {
        float:right;
      }
    } 

    &__list-clients{
      width: 100%;
      color: $base-grey-medium;

      & > li {
        width: auto;
      }
    }
  }
}

// Extra small devices
@media screen and (min-width: $breakpoint-mobile) {
  .page-clients {
    background : {
      image: url(#{$assetPath}/Icon/cover-circle-white-tablet.png);
      size: cover;
    }

    .content {
      padding-top: 60px;
      
      &__sidebar {
        display: none; 
      } 
  
      &__list-clients{
        @include list-item-small(55);
        margin-left: 35px;
  
        & > li {
          height: auto;
          margin-top: 10px;
        }
      }
    }
  }
}

// Medium devices
@media screen and (min-width: $breakpoint-tablet) {
  .page-clients .content{
      padding-top: 60px;
      
      &__sidebar {
        display: block; 
        top: 45%;

        & > img {
          margin-right: 37px;
        } 
      } 
  
      &__list-clients{
        @include list-item-medium;
        margin-left: 0;
  
        & > li {
          height: auto;
          margin-top: 10px;
        }
      }
  }
}

// Desktop Large devices
@media screen and (min-width: $breakpoint-large) {
  .page-clients {
    background: {
      image: url(#{$assetPath}/Icon/cover-circle-white.png);
      position: right;
      size: contain;
    }

    .content {
      padding-top: 110px;

      &__sidebar {
        top: 50%;

        & > img {
          margin-right: 45px;
        } 
      } 

      &__list-clients {
        @include list-item-large;
        margin-top: 0;
      }
    }
  }
}

// Desktop Extra large devices
@media screen and (min-width: $breakpoint-extra-large) {
  .page-clients {
    .content {
      padding-top: 300px;
  
      &__list-clients > li {
        height: 198px;
      }
    }
  }
}