@import "../layouts/cover";
@import "../layouts/navbar";
@import "../utils/typo";

.page-clients {
  @include cover-light;
  @include navbar-full-dark;
  
  background: {
    size: contain;
    repeat: no-repeat;
    attachment: fixed;
  }

  .content {
    display: flex;
    justify-content: space-between;
    
    &__sidebar {
      width: 294px;
      position: sticky;
      height: 100%;
     
      & > img {
        width: 34.67px;
        height: 17.33px;
        float:right;
      }
    } 

    &__list-clients{
      width: 100%;
      color: $base-grey-medium;

      & > li {
        width: auto;
      }
    }
  }
}

// Extra small devices
@media screen and (min-width: $breakpoint-mobile) {
  .page-clients {
    display: none;
  }
}

// Medium devices
@media screen and (min-width: $breakpoint-tablet) {
  .page-clients {
    display: block;
    background-image: url(#{$assetPath}/Icon/cover-circle-white-tablet.png);

    .content {
      padding-top: 60px;
      
      &__sidebar {
        top: 50%;

        & > img {
          margin-right: 37px;
        } 
      } 
  
      &__list-clients{
        @include list-item-medium;
  
        & > li {
          height: 100px;
        }
      }
    }
  }
}

// Desktop Large devices
@media screen and (min-width: $breakpoint-large) {
  .page-clients {
    background: {
      image: url(#{$assetPath}/Icon/cover-circle-white.png);
      position: right;
    }

    .content {
      padding-top: 110px;

      &__sidebar > img {
        margin-right: 45px;
      } 

      &__list-clients {
        @include list-item-large;

        & > li {
          height: 150px;
        }
      }
    }
  }
}

// Desktop Extra large devices
@media screen and (min-width: $breakpoint-extra-large) {
  .page-clients {
    .content {
      padding-top: 300px;
  
      &__list-clients > li {
        height: 198px;
      }
    }
  }
}