.page-home{
  @include cover-base;

  main {
    padding-top: 45px;

    .section-agency { 
      display: flex;
      &__text__title {
        color: $base-white;
        display: block;
      }
      &__text__presentation{
        @include text-body;
        color: $base-grey-light;
        display: block;
      }
      &__image > picture > #presentation-picture {
        display: none;
      }
    }
    .section-clients {
      transform: translateY(40px);
      opacity: 0;
      transition: all 2s ease-in-out;

      &.js-show-logo {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .overlay{
      position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.7);
      z-index: 1000;
      cursor: pointer; 

      &__image {
        max-height: 100%;
        max-width: 100%;
        width: 80%;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      &__video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 80%;
        height: 80%;
      }
    }
  }
}

// Extra small devices
@media screen and (min-width: $breakpoint-mobile) {
  @include navbar-short-light;

  .section-agency{
    flex-direction: column;

    &__text{
      order:2;
      &__title {
        @include title-h1-small;
        margin-left: 41px;
      }
      &__presentation {
        margin: 50px 46px 52px 41px;
      }
    }
    &__image > picture > img {
      order:1;
      max: {
        width: 100%;
        height: 100%;
      }
      right: 0px;
    }
  }

  .section-clients{
    &__logo{
      display: flex;
      flex-wrap: wrap;

      & > img{
        flex: 1;
        min-width: 30%;
        margin: 10px;
      }
    }
  }
}

// Medium devices
@media screen and (min-width: $breakpoint-tablet) {
  .section-agency{
    flex-direction: column;

    &__text{
      order:2;
      &__title{
        font: {
          family: $base-font-family;
          style: normal;
          weight: bold;
          size: 72px;
        }
        line-height: 100%;
        margin-left: 41px;
      }
      &__presentation{
        margin: {
          top: 50px;
          right: 46px;
          bottom: 52px;
          left: 41px;
        }
      }
    }

    &__image > picture > img {
      order:1;
      width: 100%;
      margin-bottom: 8rem;
    }
  }

  .section-clients{
    &__logo{
      display: flex;
      flex-wrap: wrap;

      & > img{
        flex: 1;
        min-width: 20%;
        margin: 10px;
      }
    }
  }
}

// Large devices
@media screen and (min-width: $breakpoint-desktop) {
  @include navbar-full-light;

  .section-agency{
    position: relative;
    &__text{
      padding: 8rem 0rem 8rem 4rem;
      z-index: 10;

      &__title{
        @include title-h1-medium;
        max-width: 28rem;
      }
  
      &__presentation{
        margin-top: 34px;
        max-width: 28rem;
      }
    }

    &__image > picture > img {
      width: 60%;
      position:absolute;
      top: 4rem;
      right: 0;
      height: auto;
    }
  }

  .section-clients{
    &__logo{
      display: grid;
      grid: {
        template-columns: repeat(6, 1fr);
        gap: 3rem;
      }
      margin: 0 8rem 8rem 8rem;

      & > img{
        width: 100%;
        height: auto;
      }
    }
  }
}

// Desktop Large devices
@media screen and (min-width: $breakpoint-large) {
  .section-agency{
    position: relative;
    &__text{
      padding: 10rem 0rem 5rem 10rem;
      z-index: 10;

      &__title{
        @include title-h1-large;
        max-width: 40rem;
      }
      &__presentation{
        max-width: 33rem;
      }
    }

    &__image > picture > img {
      width: 60%;
      position:absolute;
      top: 3rem;
      right: 5rem;
      height: auto;
    }
  }

  .section-clients{
    &__logo{
      cursor: pointer;
      display: grid;
      grid: {
        template-columns: repeat(6, 1fr);
        gap: 3rem;
      }
      margin: 0 10rem 5rem 10rem;
    }
  }
}

// Desktop Extra large devices
@media screen and (min-width: $breakpoint-extra-large) {
  .section-agency{
    position: relative;
    &__text{
      max: {
        width: 100%;
        height: 100%;
      }
      padding: 15rem 0rem 0rem 28rem;
      z-index: 10;

      &__title{
        max: {
          width: 636px;
          height: 285px;
        }
      }

      &__presentation{
        max: {
          width: 723.26px;
          height: 81px;
        }
        margin-right: 0;
      }
    }

    &__image > picture > img {
      position:absolute;
      top: 0;
      right: 10rem;
    }
  }

  .section-clients{
    &__logo{
      display: grid;
      grid: {
        template-columns: repeat(6, 1fr);
        gap: 1rem 6rem;
      }
      margin: 5rem 33rem 0rem 28rem;
    }
  }
}

