@import "../layouts/cover";
@import "../layouts/navbar";
@import "../utils/typo";

.page-navigation {
  @include cover-light;

  .content {
    &-item {
      display: flex;
      flex-direction: column;
      list-style-type: none; 

      & > li > a {
        text-decoration: none;
        color: $base-grey-medium;
      }
    }
  }

  footer {
    & .footer-contact {
      font-family: $second-font-family;

      &__title {
        font-weight: bold;
        color: $base-grey-dark;
      }
      &__address{
        font-weight: 300;
        color: $base-grey-dark-2;
      }
      &__mail {
        text-decoration: none;
        color: $base-grey-dark-2;
      }
    }
  }
}

// Extra small devices
@media screen and (min-width: $breakpoint-mobile) {
  .page-navigation {
    @include navbar-short-dark;

    background: {
      image: url(#{$assetPath}/Icon/cover-circle-white-mobile.png);
      position: center 60px;
      repeat: no-repeat;
    }
  
    .content {
      &-item {
        margin-top: 100px;
        margin-left: 41px;
  
        & > li {
          padding-bottom: 6px;
          & > a{
            @include list-item-small;
          }
        }
        &__home{
          order: 1;
        }
        &__agency{
          order: 2;
        }
        &__team{
          order: 3;
          &__illustration{
            display: none;
          }
        }
        &__clients{
          display: none;
        }
      }
    }
  
    footer {
      margin-top: 94px;
  
      & .footer-contact {
        width: 276px;
        margin-left: 47px;
        margin-bottom: 46px;
        font-size: 18px;
        line-height: 100%;

        &__address{
          margin-top: 12px;
        }
      }
  
      & .footer-social-link{
        display: none;
      }
    }
  }
}

// Medium devices
@media screen and (min-width: $breakpoint-tablet) {
  .page-navigation {
    background: {
      image: url(#{$assetPath}/Icon/cover-circle-white-tablet.png);
      position: cover;
      repeat: no-repeat;
    }

    .content {
      &-item {
        margin-top: 200px;
        margin-left: 87px;
  
        & > li {
          padding-bottom: 40px;

          & > a{
            @include list-item-small;
          }
        }
        &__home{
          order: 1;
        }
        &__agency{
          order: 2;
        }
        &__team{
          order: 3;
          &__illustration{
            display: none;
          }
        }
        &__clients{
          order: 4;
          display: block;
        }
      }
    }
  
    footer {
      & > div {
        display: flex;
        justify-content: space-between;

        & .footer-contact {
          max-width: 276px;
          margin: {
            left: 87px;
            right: 87px;
          }
          font-size: 18px;
          line-height: 100%;
    
          &__address{
            margin-top: 12px;
          }
        }
      }
  
      & .footer-social-link {
        display: block;
        margin: {
          bottom: 95px;
          top: 100px;
        }
        text-align: center;
  
        & > a {
          font-family: $second-font-family;
          font-weight: 300;
          font-size: 18px;
          line-height: 100%;
          color: $base-grey-medium-2;
          text-decoration: none;
          margin-right: 50px;
        }
      }
    }
  }
}

// Large devices
@media screen and (min-width: $breakpoint-desktop) {
  .page-navigation {
    @include navbar-full-dark;

    background: {
      image: url(#{$assetPath}/Icon/cover-circle-white.png);
      position: right;
      size: contain;
      repeat: no-repeat;
    }
  
    .content {
      &-item {
        margin-top: 30px;
        margin-left: 160px;
  
        & > li > a {
          @include list-item-small;
        }

        &__team__illustration{
          display: block;
          margin-left: -80px;
          padding-right: 37px;
        }
      }
    }
  
    footer {
      display: flex;
      margin-left: 160px;
      margin-bottom: 57px;
      margin-top: 34px;
  
      & .footer-contact {
        font-size: 18px;
        line-height: 100%;
        margin-right: 61px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__address {
          margin-top: 12px;
        }
      }
  
      & .footer-social-link {
        display: flex;
        align-self: flex-end;
      
        & > a{
          font-family: $second-font-family;
          font-weight: 300;
          font-size: 18px;
          line-height: 100%;
          color: $base-grey-medium-2;
          text-decoration: none;
          margin-right: 40px;
        }
      }
    }
  }
}

// Desktop Large devices
@media screen and (min-width: $breakpoint-large) {
  .page-navigation {
    background: {
      image: url(#{$assetPath}/Icon/cover-circle-white.png);
      position: right;
      size: contain;
      repeat: no-repeat;
    }
    
    .content {
      &-item {
        margin-top: 130px;
        margin-left: 293px;
  
        & > li > a {
          @include list-item-medium;
        }

        &__team__illustration{
          margin: {
            left: -80px;
            bottom: 10px;
          }
          padding-right: 37px;
        }
      }
    }
  
    footer {
      display: flex;
      margin-left: 293px;;
      margin-bottom: 57px;
      margin-top: 110px;
  
      & .footer-contact {
        font-size: 18px;
        line-height: 100%;
        margin-right: 61px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__address {
          margin-top: 12px;
        }
      }
  
      & .footer-social-link {
        display: flex;
        align-self: flex-end;
        margin-left: 99px;
      
        & > a{
          font-family: $second-font-family;
          font-weight: 300;
          font-size: 18px;
          line-height: 100%;
          color: $base-grey-medium-2;
          text-decoration: none;
          margin-right: 50px;
        }
      }
    }
  }
}

// Desktop Extra large devices
@media screen and (min-width: $breakpoint-extra-large) {
  .page-navigation {
    background: {
      image: url(#{$assetPath}/Icon/cover-circle-white.png);
      position: right;
      size: contain;
      repeat: no-repeat;
    }
  
    .content {
      &-item {
        margin-top: 130px;
        margin-left: 293px;
  
        & > li > a {
          @include list-item-large;
        }

        &__team__illustration{
          margin: {
            left: -80px;
            bottom: 40px;
          }
          padding-right: 37px;
        }
      }
    }
  
    footer {
      display: flex;
      margin-left: 293px;
      margin-top: 110px;
  
      & .footer-contact {
        font-size: 18px;
        line-height: 100%;
        margin-right: 61px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__address {
          margin-top: 12px;
        }
      }
  
      & .footer-social-link {
        display: flex;
        align-self: flex-end;
        margin-left: 99px;
      
        & > a{
          font-family: $second-font-family;
          font-weight: 300;
          font-size: 18px;
          line-height: 100%;
          color: $base-grey-medium-2;
          text-decoration: none;
          margin-right: 50px;
        }
      }
    }
  }
}