.client-carousel .tes-item {
  height: 10rem;
  padding-top: 20px;
  display: flex !important;
}

.client-carousel .tes-item .logo-item-s2 {
  display: flex;
  height: 8rem;
}

.client-carousel .tes-item .logo-container {
  display: flex;
  align-items: center;
}

.tes-s1 .slick-arrow {
  border-radius: 50%;
  background-color: #e7e4ed;
}
.tes-s1 .slick-arrow:hover {
  background-color: #c9c5d9;
}

/** 06. Custom */

.logo-link img {
  max-width: 60px;
}