@keyframes slideTransitionNextSlide {
  0% { 
    transform: translateY( 0 ); 
  }
  100% { 
    transform: translateY( 100% ); 
  }
}

@keyframes slideTransitionPrevioustSlide {
  0% { 
    transform: translateY( 0 ); 
  }
  100% { 
    transform: translateY( -100% ); 
  }
}
