@font-face {
  font-family: 'Martel Sans', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}

.page-home {
  background-color: #2A2A2A;
}

.page-home header {
  position: fixed;
  height: 40px;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: transparent;
}

.page-home header > nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-home main {
  margin-top: 45px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navbar-logo {
    margin-top: 20px;
    margin-left: 23px;
  }
  .navbar-logo--mobile {
    max-height: 19px;
    max-width: 37px;
  }
  .navbar-logo--desktop {
    display: none;
  }
  .navbar-item-contact {
    display: none;
  }
  .navbar-item-team {
    display: none;
  }
  .navbar-item-burger {
    margin-top: 23px;
    margin-right: 20px;
  }
  .navbar-item-burger-image {
    max-height: 24px;
    max-width: 24px;
  }
  .section-agency {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-agency-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .section-agency-text-title {
    font-weight: bold;
    font-size: 52px;
    line-height: 100%;
    color: #FFFFFF;
    margin-left: 41px;
  }
  .section-agency-text-presentation {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #E5E5E5;
    margin: 50px 46px 52px 41px;
  }
  .section-agency-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .section-agency-image--mobile {
    max-width: 100%;
    max-height: 100%;
    right: 0px;
  }
  .section-agency-image--desktop {
    display: none;
  }
  .section-clients-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-clients-logo > img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 40%;
    margin: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-logo {
    margin-top: 20px;
    margin-left: 23px;
  }
  .navbar-logo--mobile {
    max-height: 19px;
    max-width: 37px;
  }
  .navbar-logo--desktop {
    display: none;
  }
  .navbar-item-contact {
    display: none;
  }
  .navbar-item-team {
    display: none;
  }
  .navbar-item-burger {
    margin-top: 23px;
    margin-right: 20px;
  }
  .navbar-item-burger-image {
    max-height: 24px;
    max-width: 24px;
  }
  .section-agency {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-agency-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .section-agency-text-title {
    font-weight: bold;
    font-size: 52px;
    line-height: 100%;
    color: #FFFFFF;
    margin-left: 41px;
  }
  .section-agency-text-presentation {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #E5E5E5;
    margin: 50px 46px 52px 41px;
  }
  .section-agency-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .section-agency-image--mobile {
    display: none;
  }
  .section-agency-image--desktop {
    max-width: 100%;
    max-height: 100%;
    right: 0px;
  }
  .section-clients-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-clients-logo > img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 40%;
    margin: 10px;
  }
}

@media screen and (min-width: 992px) {
  .navbar-logo {
    margin-top: 48px;
    margin-left: 23px;
  }
  .navbar-logo--mobile {
    display: none;
  }
  .navbar-logo--desktop {
    max-height: 27px;
    max-width: 147px;
  }
  .navbar .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 52px;
  }
  .navbar-item-contact > a, .navbar-item-team > a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 0.03em;
    margin-right: 86px;
  }
  .navbar-item-burger {
    margin-right: 52px;
  }
  .navbar-item-burger-image {
    max-height: 24px;
    max-width: 24px;
  }
  .section-agency {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .section-agency-text {
    max-width: 35rem;
    padding: 10rem 0rem 10rem 15rem;
    z-index: 10;
  }
  .section-agency-text-title {
    font-weight: bold;
    font-size: 90px;
    line-height: 100%;
    color: #FFFFFF;
  }
  .section-agency-text-presentation {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: #E5E5E5;
    margin: 34px 46px 52px 0px;
  }
  .section-agency-image--mobile {
    display: none;
  }
  .section-agency-image--desktop {
    width: 85%;
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
  }
  .section-clients-logo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    grid-gap: 3rem;
    margin: 0 8rem 8rem 8rem;
  }
  .section-clients-logo > img {
    width: 100%;
    height: auto;
  }
}

html, body {
  font-family: "Martel Sans";
}
/*# sourceMappingURL=style.css.map */